@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "dark-blue";
  default: true;
  --color-text-primary: #FFFFFF;
}

*{
  font-family: "Gentium Book Plus", serif;
}

h1{
  font-size: 32px;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 50px;
}


.btn-gradient {
  background: linear-gradient(90deg, #3b2ca8, #6a1bce, #9b51e0);
  color: #ffffff;
  font-weight: 600;
  padding: 10px 24px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 4px 12px rgba(26, 26, 104, 0.4);
}

[data-theme="dark"] .btn-gradient {
  background: linear-gradient(90deg, #1a1a6a, #3b2ca8, #5f3dc4);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

.bg-gradient {
  background: linear-gradient(90deg, #1c1c84, #3b2ca8, #6a1bce);
  border-radius: 0.375rem; 
  color: white; 
  padding: 0.25rem 0.5rem; 
  border-radius: 20px;
}

.text-gradient {
  background: linear-gradient(90deg, #1c1c84, #3b2ca8, #6a1bce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

