@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";
@plugin "daisyui"{themes: light --default;}

@plugin "daisyui/theme" {
  name: "dark-blue";
  default: true;

  /* Background */
  /* --color-base-100: #000035; 
  --color-base-200: #000042;  */

  /* Buttons */
  --color-primary: #1c1c84; /* button background */
  --color-primary-focus: #000068; /* button hover/focus */
  --color-primary-content: #ffffff; /* button text color */

  /* Text */
  --color-text-primary: #FFFFFF; /* primary text */
  --color-text-secondary: #ADB5BD; /* secondary text, muted gray */

  /* Other grays */
  --color-gray: #000053; /* dark grayish blue */
  --color-light-gray: #000068; /* lighter grayish blue */

  /* Accent (optional) */
  --color-accent: #93C572; /* you can keep or change */
}


*{
  font-family: "Gentium Book Plus", serif;
}

h1{
  font-size: 32px;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 50px;
}